#
# Custom Init Script File for CoCore-S
#

on early-fs
    mount ramfs ramfs /ram mode=0777
    mount tmpfs tmpfs /tmp mode=0777

on property:sys.boot_completed=1
    # unrestrict perf profiling debug
    write /proc/sys/kernel/kptr_restrict 0

    # proca service is broken
    stop proca

    # secure storage is broken, too
    stop secure_storage

    stop tee-1-0
    stop teeregistry-1-0

    exec u:r:magisk:s0 root root -- /sbin/init.cocore.post_boot.sh

