#
# Custom Init Script File for CoCore-S
#

on early-fs
    mount ramfs ramfs /ram mode=0777
    mount tmpfs tmpfs /tmp

on property:sys.boot_completed=1
    start cocore_init-d

service cocore_init-d /system/bin/sh /sbin/init.cocore.init-d.sh
    class late_start
    user root
    disabled
    oneshot
